<!DOCTYPE html>
<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Mixpo.com Applications</title>
        {% style "/css/screen.css" %}
    </head>
    <body>
        <div class="container">
        <h1>Create an Application</h1>
        <hr />
        <form class="form-horizontal" role="form">
            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="radio" class="radio radio-light" />
                        <span>
                            Choice 1
                        </span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="radio" class="radio radio-light" />
                        <span>
                            Choice 2
                        </span>
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputName" class="col-sm-2 form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName" placeholder="Name" />
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail" class="col-sm-2 form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-10">
                    <label>
                        <input type="checkbox" class="checkbox checkbox-light" />
                        <span>Check me out</span>
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
        </div>

    </body>
</html>
