<!DOCTYPE html>
<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Mixpo.com Applications</title>
        {% style "/css/screen.css" %}
    </head>
    <body>
        <a class="btn btn-default solid" href="apps/create">Create Application</a>
        {% if applications %}
        <ul>
            {% for app in applications %}

                <li>
                    <a href="apps/{{app.id}}/oauth/test">{{app.name}}</a>
                    <br />
                    {{app.description}}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>
